@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* =======================
         Reset CSS
======================= */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
}

a {
        text-decoration: none;
}

img {
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
}

.container {
        width: 1200px;
        margin: auto;
        max-width: 1200px;
}

.row {
        display: flex;
}

/* =====================
       Common CSS
===================== */
:root {
        --primary: #181818;
        --secondary: #474747;
        --p: #757575;
        --brand: #FD6E0A;

}

.common_btn {
        padding: 18px 35px;
        background-color: var(--brand);
        border-radius: 5px;
        border: navajowhite;
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;
}

.outline_btn {
        padding: 18px 35px;
        background-color: transparent;
        border-radius: 5px;
        border: navajowhite;
        color: var(--brand);
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;
        border: 1px solid #FD6E0A;
}

/* ===================
        Navbar Start
==================== */
/* ===================
        Navbar End
==================== */
nav {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
}

.logo {
        font-size: 45px;
        font-weight: 800;
        color: var(--primary);
}

.logo span {
        color: var(--brand);
}

nav ul {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
}

nav ul li a {
        font-size: 20px;
        font-weight: 400;
        color: var(--secondary);
}

/* ===================
        Navbar End
==================== */
/* ===================
        Banner Start
==================== */
.banner_parent {
        display: flex;
        justify-content: space-between;
        background-color: rgba(234, 207, 188, 0.30);
}

.banner_left h2 {
        font-size: 45px;
        font-weight: 600;
        color: var(--secondary);
}

.banner_left h3 {
        font-size: 85px;
        font-weight: 700;
        color: var(--primary);
        padding: 5px 0 20px;
}

.banner_left p {
        font-size: 18px;
        font-weight: 400;
        color: var(--primary);
        padding-bottom: 30px;
}

.banner_btn {
        display: flex;
        gap: 30px;
}

/* ===================
        Banner End
==================== */
/* ===================
        About Start
==================== */
#about {
        padding-top: 130px;
}

#about .row {
        background-color: #FFF8F3;
        flex-direction: column;
        padding: 130px 155px;
}

.top_col {
        text-align: center;
}

.top_col h2 {
        font-size: 35px;
        font-weight: 700;
        color: var(--primary);
}

.top_col p {
        font-size: 18px;
        font-weight: 400;
        color: var(--p);
        padding: 30px 0;
}

.bottom_col {
        display: flex;
        gap: 50px;
}

.info p {
        font-size: 20px;
        font-weight: 400;
        color: var(--p);
        text-align: center;
}

.info h3 {
        font-size: 20px;
        font-weight: 700;
        color: var(--secondary);
}

/* ===================
        About End
==================== */
/* ===================
        What I Do Start
==================== */
#what_i_do {
        padding-top: 130px;
        margin: auto;
}

.what_i_do .top_col h2 {
        font-size: 35px;
        font-weight: 700;
        color: var(--primary);
}

.what_i_do .top_col p {
        max-width: 910px;
        margin: auto;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: var(--p);
        padding: 30px 0 50px;
}

.what_i_do .bottom_col .card {
        padding: 30px;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
}

.what_i_do .bottom_col h2 {
        font-size: 20px;
        font-weight: 700;
        color: var(--primary);
        padding: 30px 0 20px;
}

.what_i_do .bottom_col p {
        font-size: 16px;
        font-weight: 400;
        color: var(--p);
}

.what_i_do .bottom_col .card img {
        width: 50px;
        object-fit: cover;
}

.what_i_do .bottom_col .card_img {
        display: flex;
        gap: 10px;
}

/* ===================
        What I Do End
==================== */
/* ===================
        Resume Start
==================== */
#resume {
        padding-top: 130px;
        margin: auto;
}

.resume h2 {
        font-size: 35px;
        font-weight: 700;
        color: var(--primary);
        text-align: center;
        padding-bottom: 110px;
}

.resume .details_col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
}

.resume .details_col .details h3 {
        font-size: 30px;
        font-weight: 700;
        color: var(--secondary);
}

.resume .details_col .details h4 {
        font-size: 25px;
        font-weight: 700;
        color: var(--secondary);
        padding: 30px 0 10px;
}

.resume .details_col .details h5 {
        font-size: 20px;
        font-weight: 600;
        color: var(--p);
}

.resume .details_col .details p {
        font-size: 16px;
        font-weight: 400;
        color: var(--p);
        width: 510px;
        padding: 20px 0 30px;
        border-bottom: 1px solid #D1D1D1;
}

.btn_container {
        display: flex;
        justify-content: center;
        padding-top: 50px;
}

/* ===================
        Resume End
==================== */
/* ===================
   Amazing works Start
==================== */
#amazing {
        padding-top: 130px;
}

.amazing h2 {
        font-size: 35px;
        font-weight: 700;
        color: var(--primary);
        padding-bottom: 50px;
        text-align: center;
}

.gallery {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        grid-template-areas:

                "one two three"
                "four two six"
                "four five six";
}

.gallery img {
        height: 100%;
        object-fit: cover;
}

.box_1 {
        grid-area: one
}

.box_2 {
        grid-area: two;
}

.box_3 {
        grid-area: three;
}

.box_4 {
        grid-area: four;
}

.box_5 {
        grid-area: five;
}

.box_6 {
        grid-area: six;
}

/* ===================
   Amazing works End
==================== */
/* ===================
        Footer Start
==================== */
footer {
        padding: 130px 0;
}

.footer {
        background-color: #FFF8F3;
        display: flex;
        gap: 115px;
        padding: 130px 20px 50px;
        border-radius: 10px;

}

.footer .footer_left {
        flex: 1;
}

.footer .footer_right {
        flex: 1;
}

.footer .footer_left h2 {
        font-size: 35px;
        font-weight: 700;
        color: var(--primary);
}

.footer .footer_left p {
        font-size: 16px;
        font-weight: 400;
        color: var(--secondary);
        padding: 20px 0 30px;
}

.footer .footer_left .socials {
        display: flex;
        gap: 24px;
}

.footer .footer_left .socials a {
        font-size: 24px;
        color: var(--brand);
}

.footer .footer_right h2 {
        font-size: 35px;
        font-weight: 700;
        color: var(--primary);
        padding-bottom: 20px;
}

.footer .footer_right form input,
textarea {
        border: none;
        padding: 18px 30px 18px;
        border-radius: 5px;
        display: block;
        width: 100%;
        margin-bottom: 24px;
        background-color: white;
}

/* ===================
        Footer End
==================== */